In [28]:
import pandas as pd
dfs = pd.read_excel("C:/Users/pc/Downloads/census_data.xlsx", header=3)
dfs=dfs.drop(['Ranking 2000'], axis = 1) 
dfs=dfs.drop(['Ranking 1990'], axis = 1)

In [29]:
dfs

                                                 Area  Total 2000  Total 1990
0                                             Alabama   4447100.0   4040587.0
1                                              Alaska    626932.0    550043.0
2                                             Arizona   5130632.0   3665228.0
3                                            Arkansas   2673400.0   2350725.0
4                                          California  33871648.0  29760021.0
..                                                ...         ...         ...
66  NOTE:  Consistent with the January 1999 U.S. S...         NaN         NaN
67  of Representatives, 525 U.S. 316, 119 S. Ct. 7...         NaN         NaN
68  reflect the use of statistical sampling to cor...         NaN         NaN
69  Source:  U.S. Department of Commerce, U.S. Cen...         NaN         NaN
70          Internet Release date:  December 28, 2000         NaN         NaN

[71 rows x 3 columns]

In [30]:
dfs.to_excel('C:/Users/pc/Downloads/CensusData/panda_census_data.xlsx')

In [32]:
import os 
directory = "PopulationChange Records"
parent_dir = "C:/Users/pc/Downloads/"
path = os.path.join(parent_dir, directory) 
mode = 0o666

os.mkdir(path, mode)

In [33]:
dfs['Record'] = dfs['Total 2000'] - dfs['Total 1990']

In [34]:
dfs

,Area,Total 2000,Total 1990,Record
0,Alabama,4447100.0,4040587.0,406513.0
1,Alaska,626932.0,550043.0,76889.0
2,Arizona,5130632.0,3665228.0,1465404.0
3,Arkansas,2673400.0,2350725.0,322675.0
4,California,33871648.0,29760021.0,4111627.0
...,...,...,...,...
66,NOTE: Consistent with the January 1999 U.S. S...,NaN,NaN,NaN
67,"of Representatives, 525 U.S. 316, 119 S. Ct. 7...",NaN,NaN,NaN
68,reflect the use of statistical sampling to cor...,NaN,NaN,NaN
69,"Source: U.S. Department of Commerce, U.S. Cen...",NaN,NaN,NaN
70,"Internet Release date: December 28, 2000",NaN,NaN,NaN

In [39]:
dfs=dfs.iloc[:-20]

In [50]:
max_value=dfs["Record"].max()
min_value=dfs["Record"].min()
average_value=dfs["Record"].mean()

In [51]:
print(max_value)
print(min_value)
print(average_value)

4111627.0
-34841.0
641412.4117647059

In [52]:
new_table= { 
    'Item':['Highest Change in Population', 'Lowest Change in Population', 'Average Change in Population'],  
    'State':['California', 'District of Columbia','N/A'],  
    'Record':[max_value, min_value, average_value] }

In [53]:
final_data_frame = pd.DataFrame(new_table)

In [54]:
final_data_frame

                           Item                 State        Record
0  Highest Change in Population            California  4.111627e+06
1   Lowest Change in Population  District of Columbia -3.484100e+04
2  Average Change in Population                   N/A  6.414124e+05

In [45]:
int(-5)

-5

In [46]:
float(4.111627e+06)

4111627.0

In [55]:
final_data_frame.to_excel('C:/Users/pc/Downloads/PopulationChange Records/U.S. Census Data Population Change from 1990 to 2000 on the PopulationChangeRecords Worksheet.xlsx')